<!doctype html>
<html lang="en">
    <head>

        {{! Document settings and metadata }}
        <title>{{meta_title}}</title>
        <meta charset="utf-8" />
        <meta name="designer" content="Hayden Bleasel" />
        <meta name="rating" content="general" />
        <meta name="keywords" content="ghost, blog, {{meta_title}}" />

        {{! iOS, Android and Windows stuff }}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
        <meta name="msapplication-TileColor" content="#262A2D" />

        {{! Robots and Viewport }}
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {{! OpenGraph for Facebook }}
        <meta property="og:title" content="{{meta_title}}" />
        <meta property="og:image" content="{{@blog.url}}/assets/images/open-graph.png" />
        <meta property="og:locale" content="en_US" />

        {{! Twitter Card }}
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{meta_title}}" />
        {{#if @blog.cover}}<meta property="twitter:image" content="{{@blog.cover}}" />{{/if}}

        {{! Icons }}
        <link rel="icon" href="{{asset 'images/favicon.ico'}}" />
        <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
        <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

        {{! Prerendering and Prefetching }}
        {{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}

        {{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="{{asset 'css/normalize.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/basics.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/gist.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/cactus.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/custom.css'}}" />
        <script src="{{asset 'js/html5shiv-printshiv.js'}}"></script>
        <script src="{{asset 'js/respond.js'}}"></script>

        {{! Page-Specific Metadata }}
        {{{block "meta"}}}

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">

        <section id="wrapper">
            <header id="header">
                <a id="title" class="index" href="{{@blog.url}}">
                    <img class="logo" src="{{@blog.logo}}" />
                    <div>
                        <span>{{@blog.title}}</span>
                        <small>{{@blog.description}}</small>
                    </div>
                </a>
                <a id="rad-link" href="https://raddevelopment.io" target="_blank">
                    <img class="rad-logo" src="{{asset 'images/rad_logo.png'}}" />
                </a>
            </header>

            {{{body}}}

            <footer id="footer">
                <p class="small">
                </p>
            </footer>

        </section>

        {{ghost_foot}}

        {{! Deferred scripts }}
        <script src="{{asset 'js/fastclick.js'}}"></script>
        <script src="{{asset 'js/cactus.js'}}"></script>
        <script type="text/javascript">
          window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
          window.analytics.load("9DvA9WKIFm");
          window.analytics.page();
        </script>
    </body>
</html>
